<mat-toolbar class="my-nav" color="accent">
    <mat-toolbar-row>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon"><span><img src="../../assets/Screenshot 2020-12-05 160820.png" width="180%" height="120%"/></span></mat-icon>
        <ul  class="nav-list">
            <li class="nav-list-items"> All Chats</li>
            <li class="nav-list-items">login</li>
            <li class="mat-list-items">exitChat</li>
            </ul>
            <ul class="nav-list-right">
                <li><mat-icon>perm_identity</mat-icon></li>
                </ul>
      </mat-toolbar-row>
  </mat-toolbar>